
<!DOCTYPE html>
<html>
    <!-- MEMO: update me with `git checkout gh-pages && git merge master && git push origin gh-pages` -->
    <head>
        <meta charset="utf-8">
        <title>Bootstrap Material</title>
     <!--  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="dist/css/roboto.min.css" rel="stylesheet">
        <link href="dist/css/material-fullpalette.min.css" rel="stylesheet">
        <link href="dist/css/ripples.min.css" rel="stylesheet">
        <link href="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet"> 
        -->

        <!-- TODO: Javascript include tag for mjquery js -->
        
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

        <%= stylesheet_link_tag 'header' %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <%= yield %>

    </body>
</html>